@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@300&family=Mukta+Vaani&family=Righteous&display=swap');

body {
    font-family: 'Maitree', serif;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

h1 {
    font-family: 'Righteous', cursive;
}

h3 {
    font-family: 'Mukta Vaani', sans-serif;
}

.left-div,
.header-div,
.info-div,
.middle-div,
.countdown-timer-div,
.dealer-div,
.draw-pile,
.dealt-cards,
.dealer-sum,
.start-button-div,
.player-div,
.split-hand,
.player-sum,
.actions-div,
.poker-chips-div,
.right-div,
.leaderboard-div
 {
    border: 1px solid blue;
}

/* Game area (middle-div) */
/* Divs */
.countdown-timer-div {
    font-size: 30px;
    font-weight: bold;
}

.dealer-div,
.player-div {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 282px; /* 266px (card height) + 6px (border) + 10px (margin) */
}

.draw-pile {
    font-size: 25px;
    font-weight: bold;
}

.dealer-sum,
.player-sum {
    font-size: 25px;
    font-weight: bold;
}

.dealt-cards {
    position: relative;
}

/* Images */
.draw-pile img,
.split-hand>img {
    border: 2px solid black;
    border-radius: 5%;
    /* height and width given maintain original 255px x 380px ratio */
    width: 127.5px;
    height: 190px;
}

.split-hand>img {
    position: relative;
    top: 40px;
    transform: rotate(15deg);
}

.dealt-cards>img {
    border: 3px solid black;
    border-radius: 5%;
    margin: 5px;
    /* height and width given maintain original 255px x 380px ratio */
    width: 178.5px;
    height: 266px;
}

.poker-chips-div>img {
    margin: 5px;
    width: 140px;
    height: 140px;
}

/* Cards stacking horizontally - script.js attaches classes card-image[1 through 5] when card stacking becomes necessary */
.card-image1 {
    position: absolute;
    top: 0;
    left: 75px;
}

.card-image2 {
    position: absolute;
    top: 0;
    left: 200px;
}

.card-image3 {
    position: absolute;
    top: 0;
    left: 325px;
}

.card-image4 {
    position: absolute;
    top: 0;
    left: 450px;
}

.card-image5 {
    position: absolute;
    top: 0;
    left: 575px;
}

/* Buttons */

.start-button-div>button {
    font-size: 25px;
    margin: 10px;
}

.actions-div>button {
    font-size: 25px;
    margin: 10px;
}