@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@300&family=Mukta+Vaani&family=Righteous&display=swap');

body {
    font-family: 'Maitree', serif;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

h1 {
    font-family: 'Righteous', cursive;
}

h3 {
    font-family: 'Mukta Vaani', sans-serif;
}

.left-div,
.header-div,
.info-div,
.middle-div,
.countdown-timer-div,
.dealer-div,
.draw-pile,
.dealt-cards,
.dealer-sum,
.start-button-div,
.player-div,
.split-hand,
.player-sum,
.actions-div,
.poker-chips-div,
.right-div,
.leaderboard-div
 {
    border: 1px solid blue;
}

/* Game area (middle-div) */

.dealer-div,
.player-div {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 330px;
}

.dealt-cards {
    position: relative;
}

.draw-pile>img,
.split-hand>img {
    border: 2px solid black;
    border-radius: 5%;
    margin: 5px;
    /* height and width given maintain original 255px x 380px ratio */
    width: 137.5px;
    height: 190px;
}

.split-hand>img {
    position: relative;
    top: 50px;
    transform: rotate(15deg);
}

.dealt-cards>img {
    border: 3px solid black;
    border-radius: 5%;
    margin: 5px;
    /* height and width given maintain original 255px x 380px ratio */
    width: 220px;
    height: 304px;
}

/* Cards stacking horizontally - script.js attaches classes when card stacking becomes necessary */
.card-image1 {
    position: absolute;
    top: 0;
    left: 50px;
}

.card-image2 {
    position: absolute;
    top: 0;
    left: 150px;
}

.card-image3 {
    position: absolute;
    top: 0;
    left: 250px;
}

.card-image4 {
    position: absolute;
    top: 0;
    left: 350px;
}

.card-image5 {
    position: absolute;
    top: 0;
    left: 450px;
}

.poker-chips-div>img {
    margin: 5px;
    width: 150px;
    height: 150px;
}